<section id="folder-content">
  <% if (folder.parentId) { %>
    <a href="/folder/<%= folder.parentId %>">&lt; Parent</a>
  <% } %>
  <h1><%= folder.name %></h1>
  <%- include('./addNewForm') %>
  <table cellspacing="0">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Upload Time</th>
      <th>Size</th>
      <th colspan="3">Options</th>
    </tr>
    <% folder.childFolders.forEach(folder => { %>
      <tr>
        <td>Folder</td>
        <td><a href="/folder/<%= folder.id %>"><%= folder.name %></a></td>
        <td>-</td>
        <td>-</td>
        <td class="options">
          <button type="button">
            <a href="/folder/<%= folder.id %>/edit">Edit</a>
          </button>
          <form action="/folder/<%= folder.id %>/delete" method="POST">
            <button 
              type="submit" 
              onclick="return confirm('Are you sure you want to delete <%= folder.name %>?')"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
    <% }); %>
    <% folder.files.forEach(file => { %>
      <tr>
        <td>File</td>
        <td><a href="/folder/<%= folder.id %>/file/<%= file.id %>"><%= file.name %></a></td>
        <td><%= new Date(file.uploadTime).toLocaleString('en-SG') %></td>
        <td><%= file.size %> bytes</td>
        <td class="options">
          <button type="button">
            <a href="/folder/<%= file.folderId %>/file/<%= file.id %>/edit">Edit</a>
          </button>
          <form action="/folder/<%= file.folderId %>/file/<%= file.id %>/delete" method="POST">
            <button 
              type="submit" 
              onclick="return confirm('Are you sure you want to delete <%= file.name %>?')"
            >
              Delete
            </button>
          </form>
          <form action="/folder/<%= file.folderId %>/file/<%= file.id %>/download" method="GET">
            <button type="submit">Download</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </table>
</section>