<section>
  <% if (folder.parentId) { %>
    <a href="/folder/<%= folder.parentId %>">&lt; Parent</a>
  <% } %>
  <h1><%= folder.name %></h1>
  <table>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Upload Time</th>
      <th>Size</th>
    </tr>
    <% folder.childFolders.forEach(folder => { %>
      <tr>
        <td>Folder</td>
        <td><a href="/folder/<%= folder.id %>"><%= folder.name %></a></td>
        <td>-</td>
        <td>-</td>
        <td>
          <a href="/folder/<%= folder.id %>/edit">Edit</a>
        </td>
        <td>
          <form action="/folder/<%= folder.id %>/delete" method="POST">
            <button 
              type="submit" 
              onclick="return confirm('Are you sure you want to delete <%= folder.name %>?')"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
    <% }); %>
    <% folder.files.forEach(file => { %>
      <tr>
        <td>File</td>
        <td><%= file.name %></td>
        <td><%= file.uploadTime %></td>
        <td><%= file.size %> bytes</td>
      </tr>
    <% }); %>
  </table>
</section>