<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%= folder.name %></title>
</head>
<body>
  <%- include('./partials/nav') %>

  <a href="/folder/<%= folder.id %>">&lt; Back</a>
  <h1>Edit <%= folder.name %></h1>
  <form action="/folder/<%= folder.id %>/edit" method="POST">
    <label for="name">Folder name:</label>
    <input type="text" id="name" name="name" value="<%= folder.name %>" required>
    <section class="form-button">
      <button type="submit">Update</button>
    </section>
  </form>
</body>
</html>