<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Edit <%= file.name %></title>
</head>
<body>
  <%- include('./partials/nav') %>

  <main>
    <a href="/folder/<%= file.folderId %>" class="folder-nav">&lt; Back to folder</a>
    <div class="container">
      <h1>Edit <%= file.name %></h1>
      <form action="/folder/<%= file.folderId %>/file/<%= file.id %>/edit" method="POST">
        <label for="name">File name:</label>
        <input type="text" id="name" name="name" value="<%= file.name %>" required>
        <section class="form-button">
          <button type="submit">Update</button>
        </section>
      </form>
    </div>
  </main>
</body>
</html>